{% extends 'base.html' %}

{% block title %} Find The Beauty {% endblock %}

{% block content %}

<div class="container">
  <div class="facts_heading">
    <h1>Our Love For Books</h1>
    <p>We can all agree that books have been one of the world's greatest invention. In this sections you can find famous artists from different countries as well as their most notable work</p>
  </div>
</div>



<br>
<div class="flag">
  <img src="{{url_for('static', filename='images/usflag.jpg')}}" width = '150' height="100">
</div>
<br>

<div class="countries">
  <h4>The United States...</h4>
  <p>
    Walt Whitman 1819 - 1892:
    <br>
    Whitman was a poet, essayist, and journalist from West Hills, New York who took poetry to a whole different level
    <br>
    Must read books from Whitman: Leaves of Grass, Song of Myself, Oh Captain! My Captain
    <br>
    <a href="https://en.wikipedia.org/wiki/Walt_Whitman" target="_blank">Learn more</a>
  </p>


<br>

  <p>
    Ernest Hemingway 1899 - 1961:
    <br>
    Hemingway was a novelist and journalist from Oak Park, Illinois who in 1954 won the Nobel Prize
    <br>
    Must read books from Hemingway: The Sun Also Rises, A Farewell to Arms, The Old Man and the Sea
    <br>
    <a href="https://en.wikipedia.org/wiki/Ernest_Hemingway" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Mark Twain 1835 - 1910
    <br>
    Twain was an American writer, businessman and publisher whose real name was Samuel Langhorne Clemens but far better know as Mark Twain
    <br>
    Must read books from Twain: The Adventures of Tom Sawyer, The Innocent Abroad, The Adventures of Hucleberry Finn
    <br>
    <a href="https://en.wikipedia.org/wiki/Mark_Twain" target="_blank">Learn more</a>
  </p>
</div>


<br>
<br>
<div class="flag">
  <img src="{{url_for('static', filename='images/venezuelaflag.jpg')}}" width = '150' height="100">
</div>
<br>

<div class="countries">
  <h4>Venezuela...</h4>
  <p>
    Rómulo Gallegos 1884 - 1969:
    <br>
    Gallegos was a novelist and politician from Caracas who is considered the most relevant Venezuelan novelist of the 20th century
    <br>
    Must read books from Gallegos: Canaima, Doña Barbara
    <br>
    <a href="https://en.wikipedia.org/wiki/Rómulo_Gallegos" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Arturo Uslar Pietri 1906 - 2001:
    <br>
    Uslar Pietri was a Venezuelan intellectual, historian and writer
    <br>
    Must read books from Uslar Pietri: Las Lanzas Coloradas, Oficio de Difuntos, La Isla de Róbinson
    <br>
    <a href="https://en.wikipedia.org/wiki/Arturo_Uslar_Pietri" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Salvador Garmendia 1928 - 2001
    <br>
    Garmendia was a Venezuelan autho who was awarded with the National Prize for Literature
    <br>
    Must read books from Garmendia: Los Pequeños Seres, La Mala Vida, Memorias de Altagracia
    <br>
    <a href="https://en.wikipedia.org/wiki/Salvador_Garmendia" target="_blank">Learn more</a>
  </p>
</div>

<br>
<br>
<div class="flag">
  <img src="{{url_for('static', filename='images/frenchflag.jpg')}}" width = '150' height="100">
</div>
<br>

<div class="countries">
  <h4>France...</h4>
  <p>
    Victor Hugo 1802 - 1885:
    <br>
    Victor Hugo was a poet and novelist of the Romantic Movement
    <br>
    Must read books from Victor Hugo: Canaima, Doña Barbara
    <br>
    <a href="https://en.wikipedia.org/wiki/Victor_Hugo" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Marcel Proust 1871 - 1922:
    <br>
    Proust was a French novelist and critic who wrote the famous novel À la re recherche du temps perdu
    <br>
    Must read books from Proust: À la recherche du temps perdu
    <br>
    <a href="https://en.wikipedia.org/wiki/Marcel_Proust" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Émile Zola 1840 - 1902
    <br>
    Zola was a novelist, playwright and the best-known practicioner of the literary school of naturalism
    <br>
    Must read books from Zola: Les Rougon-Macquart, Thérèse Raquin, Germinal
    <br>
    <a href="https://en.wikipedia.org/wiki/Émile_Zola" target="_blank">Learn more</a>
  </p>
</div>

<br>
<br>
<div class="flag">
  <img src="{{url_for('static', filename='images/Flagargentina.jpg')}}" width = '150' height="100">
</div>
<br>

<div class="countries">
  <h4>Argentina...</h4>
  <p>
    Jorge Luis Borges 1899 - 1986:
    <br>
    Jorge Luis Borges was a short-story writer, poet and translator, and a key figure in Spanish-language and universal literature
    <br>
    Must read books from Borges: Ficciones, El Aleph
    <br>
    <a href="https://en.wikipedia.org/wiki/Jorge_Luis_Borges" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Julio Cortázar 1914 - 1984:
    <br>
    Cortázar is considered one of the most innovative and original authors of his time, a master of history, poetic prose and short story in general
    <br>
    Must read books from Cortázar: Hopscotch, Bestiario, Las armas secretas
    <br>
    <a href="https://en.wikipedia.org/wiki/Julio_Cortázar#Works" target="_blank">Learn more</a>
  </p>

  <br>

  <p>
    Ernesto Sabato 1911 - 2011
    <br>
    Upon Sabato's death the Spanish newspaper El País dubbed him the "last classic writer in Argentine literature"
    <br>
    Must read books from Zola: El Túnel, Sobre héroes y tumbas
    <br>
    <a href="https://en.wikipedia.org/wiki/Ernesto_Sabato" target="_blank"> Learn more <a/>
  </p>
</div>

<br>
<div class="facts2">
  <div class="facts_heading2">
    <h1> Any Recommendations? </h1>
    <p>If there is an artist that you would like it to be included, please fill out the form. All the information will be secured.</p>
  </div>

  <br>

  <form action="/recommendation" method="POST">


    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" name="r_email" value="{{r_email}}">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Recommendations..." name="r_recommendation" value="{{r_recommendation}}">
    </div>

    <br/>
    <button type="submit" class="btn btn-secondary">Submit</button>

  </form>
</div>






{% endblock %}
